@model MenuApp.Models.Menu

<h2>Appetizers</h2>
<hr />
<div class="row">
    @foreach (var menuItem in Model.Appetizers)
    {
        <div class="col-md-6 menuItem">
            <h3>@menuItem.Name</h3>
            <div>
                <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
                <h4>@menuItem.Description</h4>
                Calorie: @menuItem.CalorieCount
                <h4 class="Price">@menuItem.Price</h4>
            </div>
            <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
                <input class="btn btn-link" type="submit" value="Delete Item"/>
            </form>
        </div>
       
    }
</div>


<h2>Salads</h2>
<hr />
@foreach (var menuItem in Model.Salads)
{
    <div class="col-md-6 menuItem">
        <h3>@menuItem.Name</h3>
        <div>
            <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
            <h4>@menuItem.Description</h4>
            Calorie: @menuItem.CalorieCount
            <h4 class="Price">@menuItem.Price</h4>
        </div>
        <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
            <input class="btn btn-link" type="submit" value="Delete Item"/>
        </form>
    </div>
}
<h2>Entrees</h2>
<hr />
@foreach (var menuItem in Model.Entrees)
{
    <div class="col-md-6 menuItem">
        <h3>@menuItem.Name</h3>
        <div>
            <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
            <h4>@menuItem.Description</h4>
            Calorie: @menuItem.CalorieCount
            <h4 class="Price">@menuItem.Price</h4>
        </div>
        <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
            <input class="btn btn-link" type="submit" value="Delete Item"/>
        </form>
    </div>
}

<h2>Desserts</h2>
<hr />
@foreach (var menuItem in Model.Desserts)
{
    <div class="col-md-6 menuItem">
        <h3>@menuItem.Name</h3>
        <div>
            <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
            <h4>@menuItem.Description</h4>
            Calorie: @menuItem.CalorieCount
            <h4 class="Price">@menuItem.Price</h4>
        </div>
        <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
            <input class="btn btn-link" type="submit" value="Delete Item"/>
        </form>
    </div>
}

<h2>Drinks</h2>
<hr />
@foreach (var menuItem in Model.Drinks)
{
    <div class="col-md-6 menuItem">
        <h3>@menuItem.Name</h3>
        <div>
            <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
            <h4>@menuItem.Description</h4>
            Calorie: @menuItem.CalorieCount
            <h4 class="Price">@menuItem.Price</h4>
        </div>
        <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
            <input class="btn btn-link" type="submit" value="Delete Item"/>
        </form>
    </div>
}

<h2>Bar Drinks</h2>
<hr />
@foreach (var menuItem in Model.BarDrinks)
{
    <div class="col-md-6 menuItem">
        <h3>@menuItem.Name</h3>
        <div>
            <a href="/MenuItem/Update/@menuItem.Id">Edit</a>
            <h4>@menuItem.Description</h4>
            Calorie: @menuItem.CalorieCount
            <h4 class="Price">@menuItem.Price</h4>
        </div>
        <form method="post" action="/MenuItem/DeleteMenuItem/@menuItem.Id">
            <input class="btn btn-link" type="submit" value="Delete Item"/>
        </form>
    </div>
}

